---
import { Icon } from 'free-astro-components'
const currentYear = new Date().getFullYear();
---

<footer class="py-8 lg:py-12 border-t border-neutral-300/50">
 <div class="container flex justify-between items-center gap-10">
   <div class="flex items-center gap-1"> 
     <a href="/" class="text-sm hover:text-primary transition duration-300 ease-in-out" aria-label="Gitset.dev">
       <img src="/favicon-192.png" alt="Gitset Logo" class="w-14 h-14" />
     </a>
     <a href="/" class="text-xl mt-2 ml-1 hover:text-secondary text-neutral-700 transition duration-300 ease-in-out hide-on-small" aria-label="Gitset">
       Gitset.dev
     </a>
   </div>
  
   <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
     <div class="flex flex-col gap-4">
       <ul class="text-neutral-500 flex flex-col">
         <li style="border-radius: 8px; text-align: center;">
           <a href="/terms" style="color: inherit; text-decoration: none; transition: color 0.3s ease;" 
             onmouseover="this.style.color='#69D3C6'" 
             onmouseout="this.style.color=''">
             Terms of Service
           </a>
         </li>
         <li style="border-radius: 8px; text-align: center;">
           <a href="/privacy" style="color: inherit; text-decoration: none; transition: color 0.3s ease;" 
             onmouseover="this.style.color='#69D3C6'" 
             onmouseout="this.style.color=''">
             Privacy Policy
           </a>
         </li>
       </ul>
     </div>
   </div>

   <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
     <div class="flex flex-col gap-4">
       <ul class="text-neutral-500 flex flex-col">
         <li style="border-radius: 8px; text-align: center;">
           <a href="/faq" style="color: inherit; text-decoration: none; transition: color 0.3s ease;" 
             onmouseover="this.style.color='#69D3C6'" 
             onmouseout="this.style.color=''">
             FAQ
           </a>
         </li>
         <li style="border-radius: 8px; text-align: center;">
           <a href="/contact" style="color: inherit; text-decoration: none; transition: color 0.3s ease;" 
             onmouseover="this.style.color='#69D3C6'" 
             onmouseout="this.style.color=''">
             Contact
           </a>
         </li>
       </ul>
     </div>
   </div>
 </div>

 <div class="mt-12 flex justify-center">
   <div class="gap-8 mx-auto my-0">
     <div class="text-sm text-neutral-500 text-center">
       <p>© Gitset.dev {currentYear}. All Rights Reserved.</p>
       <p class="mt-2 text-center">
         Powered by <a href="https://www.lemonsqueezy.com" class="hover:text-neutral-700 transition-colors">Lemon Squeezy, LLC.</a>
       </p>
     </div>
   </div>
 </div>
</footer>

<style>
 @media (max-width: 800px) {
   .hide-on-small {
     display: none;
   }
   
   .container {
     padding-left: 1rem;
     padding-right: 1rem;
   }
 }
</style>