---
import ThemeSwitch from '../../pages/components/theme-switch.astro'
import Hamburguer from './Hamburguer.astro'
const userIsLoggedIn = !!Astro.locals.userId;
---

<header 
class:list={['fixed inset-x-0 top-0 bg-neutral-100/60 text-neutral-700 py-4 border-b border-neutral-300/50 backdrop-blur-md z-20',
   'bg-nav-pattern-light',  
 ]} 
>

  <div class="container flex justify-between items-center gap-10">
    <div class="flex items-center gap-1">
      <a
        class="text-sm hover:text-primary transition duration-300 ease-in-out"
        href="/"
        aria-label="Gitset"
      >
        <img src="/favicon-192.png" alt="Gitset Logo" class="w-14 h-14" />
      </a>
      <a
        class="text-xl mt-2 ml-1 hover:text-secondary transition duration-300 ease-in-out hide-on-small"
        href="/"
        aria-label="Gitset"
      >
        Gitset.dev
      </a>
    </div>
    
    <nav>
      <ul class="flex items-center gap-8">
        {userIsLoggedIn ? (
          <>
            <li>
              <a
                class="text-sm flex items-center gap-1 group transition duration-300 ease-in-out"
                href="/pricing"
              >
                <svg 
                  class="fill-current group-hover:fill-[#69D3C6] transition duration-300 ease-in-out"
                  height="16px"
                  width="16px"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                </svg>

                <span class="group-hover:text-[#69D3C6] transition duration-300 ease-in-out">
                  Pricing
                </span>
              </a>
            </li>
            <li>
              <a
                class="text-sm flex items-center gap-2 group transition duration-300 ease-in-out"
                href="/dashboard"
              >
                <svg
                  class="stroke-current group-hover:stroke-[#69D3C6] transition duration-300 ease-in-out"
                  height="16px"
                  width="16px"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect width="7" height="9" x="3" y="3" rx="1"/>
                  <rect width="7" height="5" x="14" y="3" rx="1"/>
                  <rect width="7" height="9" x="14" y="12" rx="1"/>
                  <rect width="7" height="5" x="3" y="16" rx="1"/>
                </svg>
                <span class="group-hover:text-[#69D3C6] transition duration-300 ease-in-out">
                  Dashboard
                </span>
              </a>
            </li>
          </>
        ) : (
          <>
            <li>
              <a class="text-sm flex items-center gap-2 group transition duration-300 ease-in-out" href="/login">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 512 512"
                  class="fill-current group-hover:fill-[#69D3C6] transition duration-300 ease-in-out"
                  height="16"
                  width="16">
                  <path d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"/>
                </svg>
                <span class="group-hover:text-[#69D3C6] transition duration-300 ease-in-out">
                  Login
                </span>
              </a> 
            </li>
          </>
        )}
        <li>
          <ThemeSwitch />
        </li>
        <li class="lg:hidden">
          <Hamburguer />
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  function handleHamburguerMenu() {
    const body = document.querySelector('body') as HTMLElement;
    const hamburguer = document.querySelector('[data-hamburguer]') as HTMLButtonElement;
    const nav = document.querySelector('[data-nav]') as HTMLElement;

    if (!hamburguer || !nav || !body) return;

    hamburguer.addEventListener('click', () => {
      hamburguer.toggleAttribute('open');
      nav.toggleAttribute('open');
      body.classList.toggle('overflow-hidden');
    });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', handleHamburguerMenu);
  } else {
    handleHamburguerMenu();
  }

  document.addEventListener('astro:page-load', handleHamburguerMenu);
</script>

<style>
  @media (max-width: 800px) {
    .hide-on-small {
      display: none;
    }
  }
</style>