---
import { ThemeSwitch } from 'free-astro-components'
import Hamburguer from './Hamburguer.astro'
const userIsLoggedIn = !!Astro.locals.userId;
---

<header class="fixed inset-x-0 top-0 bg-neutral-100/60 text-neutral-700 py-4 border-b border-neutral-300/50 backdrop-blur-md z-20">
  <div class="container flex justify-between items-center gap-10">
    <div class="flex items-center gap-1">
      <a
        class="text-sm hover:text-primary transition duration-300 ease-in-out"
        href="/"
        aria-label="Gitset"
      >
        <img src="/favicon-192.png" alt="Gitset Logo" class="w-14 h-14" />
      </a>
      <a
        class="text-xl mt-2 ml-1 hover:text-secondary transition duration-300 ease-in-out hide-on-small"
        href="/"
        aria-label="Gitset"
      >
        Gitset.dev
      </a>
    </div>
    
    <nav>
      <ul class="flex items-center gap-8">
        {userIsLoggedIn ? (
          <>
            <li>
              <a
                class="text-sm flex items-center gap-2 group transition duration-300 ease-in-out"
                href="/dashboard"
              >
                <svg
                  class="fill-current group-hover:fill-[#69D3C6] transition duration-300 ease-in-out"
                  height="16px"
                  width="16px"
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 330 330"
                  xml:space="preserve"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      id="XMLID_464_"
                      d="M315,30H15C6.716,30,0,36.716,0,45v60v180c0,8.284,6.716,15,15,15h300c8.284,0,15-6.716,15-15V105V45 C330,36.716,323.284,30,315,30z M30,120h120v150H30V120z M180,270V120h120v150H180z"
                    ></path>
                  </g>
                </svg>
                <span class="group-hover:text-[#69D3C6] transition duration-300 ease-in-out">
                  Dashboard
                </span>
              </a>
            </li>

            <li>
              <a
                class="text-sm flex items-center gap-2 group transition duration-300 ease-in-out"
                href="/logout"
                aria-label="Logout"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class="fill-current group-hover:fill-[#69D3C6] transition duration-300 ease-in-out"
                  height="16"
                  width="16"
                >
                  <!-- Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                  <path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/>
                </svg>
                <span class="group-hover:text-[#69D3C6] transition duration-300 ease-in-out">
                  Logout
                </span>
              </a>
            </li>
          </>
        ) : (
          <>
            <li>
              <a class="text-sm flex items-center gap-2 group transition duration-300 ease-in-out" href="/login">
                <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 512 512"
                  class="fill-current group-hover:fill-[#69D3C6] transition duration-300 ease-in-out"
                  height="16"
                  width="16">
                  <path d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"/>
                </svg>
                <span class="group-hover:text-[#69D3C6] transition duration-300 ease-in-out">
                  Login
                </span>
              </a> 
            </li>
          </>
        )}
        <li>
          <ThemeSwitch />
        </li>
        <li class="lg:hidden">
          <Hamburguer />
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  import { DOMLoaded } from '../../ts/utils'

  DOMLoaded(() => {
    const body = document.querySelector('body') as HTMLElement
    const hamburguer = document.querySelector(
      '[data-hamburguer]'
    ) as HTMLButtonElement
    const nav = document.querySelector('[data-nav]') as HTMLElement

    hamburguer.addEventListener('click', () => {
      hamburguer.toggleAttribute('open')
      nav.toggleAttribute('open')
      body.classList.toggle('overflow-hidden')
    })
  })
</script>

<style>
  @media (max-width: 800px) {
    .hide-on-small {
      display: none;
    }
  }
</style>