---
import Header from '../components/layout/Header.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
import CTA from '../sections/CTA.astro'
import Footer from '../components/layout/Footer.astro'

---
<Layout title="Gitset - 404 Not Found.">
    <Sidebar />
    <div class="flex flex-col min-h-screen">
      <div class="hidden lg:block fixed w-64 h-full">
        <Sidebar />
      </div>
      
      <div class="flex-1 lg:ml-64 flex flex-col">
        <Header />
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
          <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 mt-16  top">
            <br />
            <div class="flex justify-center"></div>
            <CTA
              align="center"
              title={`<span id="cta-title"><strong>404</strong> Page Not Found</span>`}
              description={`
                <span id="cta-description">
                  Sorry, we couldn't find the page you're looking for.
                </span>
              `}
            >
                <div class="flex justify-center button-wrapper">
                  <div class="gradient-border flex justify-center gap-4 mt-7">
                      <a href="/">
                          <button
                              class="w-full dark:text-neutral-700 text-sm text-neutral-200 dark:bg-neutral-200 bg-neutral-700 py-2 md:py-4 px-6 rounded-[10px] transition-all duration-300 hover:text-[rgb(91,207,218)] dark:hover:text-[rgb(91,207,218)] cursor-pointer whitespace-nowrap flex justify-center"
                          >
                              Back
                          </button>
                      </>
                  </div>
              </div>
              <br>
              <br>
                <div class="flex justify-center bottom-4 relative">
                  <p class="text-center mt-4 text-sm text-neutral-700">
                    If you have any questions or concerns about how these tools function, please visit our <a href="/faq" class="hover:text-[rgb(91,207,218)] font-medium">FAQ section</a> or <a href="/contact" class="hover:text-[rgb(91,207,218)] font-medium">contact us</a> for assistance.
                  </p>
                </div>
                </div>
            </CTA>
            </main>
            <Footer />
          </div>
        </div>
    </div>
</Layout>

<style>
    .main-container {
        min-height: 100vh;
        display: flex;
        margin-top: 6rem;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (max-width: 1023px) {
        .container {
            max-width: 100% !important;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }
    
    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: 600;
        white-space: nowrap;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.6;
    }

    @media (max-width: 1023px) {
        h3 {
            font-size: 1.125rem;
        }

        p {
            font-size: 1rem;
        }
    }


    .custom-button {
        background-color: #3a9fa8;
        border-color: #fff;
    }

    .cta-button {
        background-color: #59b4aa;
    }
</style>