---
import CTA from '../sections/CTA.astro';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import Layout from '../layouts/Layout.astro';
import Sidebar from '../layouts/Sidebar.astro';
---

<Layout title="Gitset - Advanced AI-Driven GitHub Tools Suite.">
  <Sidebar />
  <div class="flex flex-col min-h-screen">
    <div class="hidden lg:block fixed w-64 h-full">
      <Sidebar />
    </div>
    
    <div class="flex-1 lg:ml-64 flex flex-col">
      <Header />
      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 mt-16 lg:mt-0 top">
          <div class="flex justify-center mt-16"></div>
          <CTA
            
            align="center"
            title={`<span id="cta-title">Github <strong>Services Status</strong></span>`}
            description={`
              <span id="cta-description">
                Monitor the real-time operational status of GitHub's core services including Actions, API, Git Operations, and more. Stay informed about the current state of GitHub's infrastructure and services.
              </span>
            `}
          >
          </CTA>
        </div>
      </main>
      <Footer />
    </div>
  </div>
</Layout>