---
import CTA from '../sections/CTA.astro'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'
import Hero from '../sections/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="Gitset - Smart AI Docs & Versioning for GitHub Repositories.">
  <Sidebar />
    <div class="flex flex-col min-h-screen">
      <div class="hidden lg:block fixed w-64 h-full">
        <Sidebar />
      </div>
    <br>
    <div class="flex-1 lg:ml-64 flex flex-col">
      <Header />
      <main class="main-container">
        <Hero
          align="center"
          title="<strong>Smart AI Docs & Versioning for GitHub Repositories.</strong>"
          description="Zero config, instant setup—harness AI to generate and manage GitHub docs effortlessly."
        >
        <a class="flex justify-center" href="/dashboard">
          <button
            class="dark:text-neutral-700 text-neutral-200 dark:bg-neutral-200 bg-neutral-700 px-6 py-4 rounded-[10px] transition-all duration-300 hover:text-[rgb(91,207,218)] dark:hover:text-[rgb(91,207,218)] cursor-pointer whitespace-nowrap flex items-center justify-center"
          >
            Get Started
          </button>
        </a>
        </Hero>
        
      </main>
      <Footer />
  </div>
</Layout>

<style>
  .main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .github-browser-container {
    min-height: 50vh;
  }

  .custom-button {
    background-color: #3a9fa8;
    border-color: #fff;
  }

  .cta-button {
    background-color: #59b4aa;
  }
</style>

<script>
  function updateCTA() {
    const ctaTitle = document.getElementById('cta-title');
    const ctaDescription = document.getElementById('cta-description');
    
    if (ctaTitle && ctaDescription) {
      ctaTitle.innerHTML = "Generated <strong>Readme</strong>";
      ctaDescription.textContent = "The generated README.md is a general reference and may not be fully accurate. If it doesn't meet your expectations, feel free to try again.";
    }
  }

  window.addEventListener('readmeGenerated', updateCTA);
</script>