---
import Header from '../components/layout/Header.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
import CTA from '../sections/CTA.astro'
import Footer from '../components/layout/Footer.astro'
import { eq } from "drizzle-orm";
import { db } from "../db";
import { sessions } from "../db/schema";

const sessionToken = Astro.cookies.get("app_auth_token")?.value ?? '';
const userPlan = Astro.locals.userPlan || 'basic';
const userEmail = Astro.locals.userEmail;
const userId = Astro.locals.userId;
---

<Layout title="Gitset - Pricing">
  <Sidebar />
  <div class="flex flex-col min-h-screen">
    <div class="hidden lg:block fixed w-64 h-full">
      <Sidebar />
    </div>
    
    <div class="flex-1 lg:ml-64 flex flex-col">
      <Header />
      <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-6 lg:py-8 mt-12">
        <br />
        <div class="flex justify-center relative top-6">
          <CTA
            align="center"
            title={`<span id="cta-title"><strong>Choose Your Plan</strong></span>`}
            description={`<span id="cta-description">
              Transform your GitHub experience with our AI-powered tools. All plans include access to our complete suite via web interface and <strong>Gitset MCP</strong> agent engine.
            </span>`}
          >
            
            <br>
            <div class="flex justify-center">
              <a href="/">
                <button
                  class="dark:text-neutral-700 text-sm text-neutral-200 dark:bg-neutral-200 bg-neutral-700 px-6 py-4 rounded-[10px] transition-all duration-300 hover:text-[rgb(91,207,218)] dark:hover:text-[rgb(91,207,218)] cursor-pointer whitespace-nowrap flex items-center justify-center order-2 sm:order-1"
                >
                  Back
                </button>
              </a>   
            </div>
          </CTA>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</Layout>