---
import { Button, Input } from 'free-astro-components'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'
import Sidebar from '../layouts/Sidebar.astro'
import Layout from '../layouts/Layout.astro'
import CTA from '../sections/CTA.astro'
---

<Layout title="Gitset - Smart AI Docs & Versioning for GitHub Repositories.">
    <Sidebar />
    <div class="flex flex-col min-h-screen">
      <div class="hidden lg:block fixed w-64 h-full">
        <Sidebar />
      </div>
      
      <div class="flex-1 lg:ml-64 flex flex-col">
        <Header />
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
          <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 mt-16 lg:mt-0 top">
            <br />
            <div class="flex justify-center"></div>
            <CTA
              
              align="center"
              title={`<span id="cta-title"><strong>Privacy Policy</strong></span>`}
              description={`
                <span id="cta-description">
                  This Privacy Policy explains how we collect, use, and protect your information when you use GitSet.dev, including when you authenticate through OAuth with GitHub.
                </span>
              `}
            >
        <div class="flex justify-center mt-8">
            <div class="shadow-lg rounded-lg p-6 max-w-4xl w-full overflow-y-auto max-h-96">
              <div class="prose prose-lg text-neutral-700 !text-left">
                <h3>1. Introduction</h3>
                
                <p style="max-width: none !important;"><strong>GitSet.dev</strong> ("we," "our," "us") is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your information when you use <strong>GitSet.dev</strong>, including when you authenticate through OAuth with GitHub.</p>
                
                <p style="max-width: none !important;">By using <strong>GitSet.dev</strong>, you consent to the practices described in this Privacy Policy. If you do not agree with any part of this policy, please refrain from using our services.</p>
                
                <h3>2. Information We Collect</h3>

                <p style="max-width: none !important;"><strong>GitSet.dev</strong> collects limited information to provide services effectively and securely. This includes:</p>

                <p style="max-width: none !important;"><strong>Authentication Data</strong>: When you log in via OAuth, <strong>GitSet.dev</strong> collects the necessary information for authentication. This includes your GitHub username, repository access rights, and other metadata provided by GitHub via OAuth.</p>

                <p style="max-width: none !important;"><strong>Temporary Processing Data</strong>: When using features like the Code Decommenter, the code you submit is temporarily processed in memory only for the duration of the comment removal operation. This code is not stored, logged, or retained after processing is complete.</p>

                <h3>3. Use of Your Data</h3>

                <p style="max-width: none !important;">We use your data solely for the purpose of providing the functionalities offered by <strong>GitSet.dev</strong>. This includes the generation of text outputs for README files, .gitignore files, commit messages, tags and releases management, repository assessments, comment removal from code, as well as the management of OAuth authentication.</p>
                <p style="max-width: none !important;">While using GitSet.dev, the platform does not store or retain any data associated with its features, including README generation, commit message suggestions, .gitignore creation, tag and release management (creation, editing, or deletion), and repository assessments. These activities generate text content on the fly, and any data entered by the User will not be stored or backed up beyond its immediate usage.</p>
                
                <h3>4. Data Security</h3>
                
                <p style="max-width: none !important;">We take reasonable precautions to protect your information, including the use of encryption and secure access protocols. However, as with all online services, we cannot guarantee complete security against potential breaches.</p>
            
                <p style="max-width: none !important;">Logs and Authentication Records: <strong>GitSet.dev</strong> does maintain logs for user authentication activities solely for purposes of security and compliance. These logs contain information about the User's login sessions and authentication attempts, and are not used for any other purpose.</p>
                
                <h3>5. Third-Party Services</h3>
                
                <p style="max-width: none !important;"><strong>GitSet.dev</strong> relies on third-party services, including <strong>GitHub OAuth</strong>, for authentication. By authenticating with GitHub, you consent to  <a style="color: #3DA798;" href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement" target="_blank" rel="noreferrer">Github's Policies</a>   and  <a style="color: #3DA798;" href="https://docs.github.com/en/site-policy/github-terms/github-terms-of-service" target="_blank" rel="noreferrer">Terms</a>. We encourage you to review GitHub's privacy practices to understand how your data may be used outside of our platform.</p>

                <p style="max-width: none !important;"><strong>AI Processing Data</strong>: Our service uses Google Gemini AI for text generation. While <strong>GitSet.dev</strong> does not store any interactions with the AI, it's important to note that Google may collect and retain this data according to their policies. For more information about how Google handles this data, please refer to their <a style="color: #3DA798;" href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> and <a style="color: #3DA798;" href="https://support.google.com/gemini/answer/13594961?hl=en#privacy_notice" target="_blank" rel="noreferrer">Gemini Privacy Notice</a>.</p>
                
                <h3>6. Use of Cookies and Tracking Technologies</h3>
                
                <p style="max-width: none !important;"><strong>GitSet.dev</strong> uses cookies to improve your experience, particularly for maintaining authentication sessions and improving the quality of service. Cookies are small data files stored on your device that help us analyze how the platform is used and allow us to enhance our features.</p>
                
                <p style="max-width: none !important;">You may disable cookies through your browser settings, but doing so may affect your ability to use certain features of the platform.</p>
                
                <h3>7. Revocation of Access</h3>
                
                <p style="font-weight: 400; max-width: none !important;">
                    Users may revoke access granted to <italic>GitSet.dev</italic> at any time from 
                    <a style="color: #3DA798;" href="/settings" target="_blank" rel="noreferrer">Settings</a> page on GitSet.dev, navigating to the "Connected Accounts" section, and selecting "Revoke GitHub Access". 
                    Additionally, users can manage OAuth applications directly through 
                    <a href="https://github.com/settings/applications" style="color: #3DA798;" target="_blank" rel="noreferrer">GitHub's settings</a>. 
                    TO REVOKE ACCESS, CLICK ON 'GITSET.DEV' IN THE LIST OF AUTHORIZED APPLICATIONS, SELECT THE THREE DOTS, AND CHOOSE 'REVOKE'. CONFIRM YOUR ACTION.
                </p>
                
                <p style="font-weight: 400; max-width: none !important;">TO REVOKE ACCESS, FOLLOW THE INSTRUCTIONS DETAILED UNDER "REVOCATION OF ACCESS" IN THE TERMS OF SERVICE.</p>
                
                <h3>8. Data Retention</h3>
                
                <p style="max-width: none !important;"><strong>GitSet.dev</strong> does not retain any user-generated content beyond what is necessary for authentication and basic logging purposes. If you lose access to any AI-generated text, such as a commit message or README, <strong>GitSet.dev</strong> cannot retrieve that information.</p>
                
                <h3>9. Changes to the Privacy Policy</h3>
                
                <p style="max-width: none !important;"><strong>GitSet.dev</strong> reserves the right to modify this Privacy Policy at any time. Any changes will be posted on this page, and the revised policy will take effect immediately upon posting. By continuing to use the platform after such updates, you accept the revised terms.</p>
            </div>
            </div>
          </div>
          <div class="flex justify-center">
            <p class="text-center text-neutral-700 relative top-6 lg:text-medium mx-auto p-4">
              Effective Date: 17/12/2024
            </p>
          </div>
          <br>
          <div class="flex justify-center button-wrapper">
              <div class="gradient-border">
                  <a href="/"><button
                      class="dark:text-neutral-700 text-sm text-neutral-200 dark:bg-neutral-200 bg-neutral-700 px-6 py-4 rounded-[10px] transition-all duration-300 hover:text-[rgb(91,207,218)] dark:hover:text-[rgb(91,207,218)] cursor-pointer whitespace-nowrap flex items-center justify-center"
                  >
                      Back
                  </button></a>
                  
              </div>
          </div>
      </main>
      <Footer />
    </div>
  </div>
</Layout>

<style>
  .main-container {
    min-height: 100vh;
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 1023px) {
    .container {
      max-width: 100% !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

  h3 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

@media (max-width: 1023px) {
  h3 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
  }
}


  .top {
    margin-top: 6rem;
  }
  .custom-button {
    background-color: #3a9fa8;
    border-color: #fff;
  }

  .cta-button {
    background-color: #59b4aa;
  }

</style>