/* src/styles/global.css */


html {
    font-family: 'Roboto', sans-serif;
    color: var(--foreground);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6; 
}

h1, h2 {
    color: var(--foreground);
    margin: 10px 0;
}


.button-dir {
    background-color: transparent;;
}

form {
    margin-bottom: 20px;
    display: flex;
    background-color: #d7d9da5e;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    color: var(--foreground);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    transition: background-color 0.3s; 
    cursor: pointer;
    display: flex; 
    align-items: center; 
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

li .icon {
    margin-right: 10px; 
    font-size: 20px; 
}

.error {
    color: var(--error-color); 
    font-weight: bold; 
}

.span {
    text-decoration: none;
    color: #7bc7b3
}