<div
  class="bg-gradient-to-r from-[rgba(41,58,142,1)] to-[rgba(59,159,168)] appearance-none rounded-lg p-px"
>
  <div class="bg-neutral-100/90 text-neutral-500 rounded-lg p-5">
    <slot />
  </div>
</div>
